# This workflow will publish AMaaS Java SDK to Maven Central with OSSRH

name: Java SDK Unit Tests

on:
  pull_request:
    branches:
      - main

jobs:
  unit-test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Set up Maven and Java
      uses: actions/setup-java@v3
      with:
        java-version: '8'
        distribution: 'temurin'

    - name: Run unit tests
      run: |
        mvn test
